[2013-12-09 19:30] geek opened #2 "Add bin for generating config stream"
Add a binary to allow generating a config from an input confidence file

[2013-12-11 20:18] #2 closed, assigned to nobody

[2013-12-12 19:29] lloydbenson opened #4 "Nicer format for confidence bin output"
Please supply a flag or by default output the bin/confidence script to have a more readable format rather than just the plain json dump that may be hard to read if alot of variables are there.

[2013-12-12 20:09] #4 closed, assigned to nobody

[2014-03-22 22:16] hueniverse opened #10 "Bring coverage back to 100% after lab fix"

[2014-03-22 22:51] #10 closed, assigned to hueniverse

[2014-05-13 14:03] lloydbenson opened #11 "upgrade to hoek 2.x.x"
Please upgrade to hoek 2.x.x version

[2014-05-13 14:04] lloydbenson opened #12 "upgrade to boom 2.x.x"
Please upgrade to boom 2.x.x

[2014-05-13 15:35] #12 closed, assigned to nobody

[2014-05-13 15:36] lloydbenson opened #13 "upgrade to lab 4.x"
Please upgrade to lab 4.x.x

[2014-08-03 15:11] arb opened #18 "Update Documentation"

[2014-08-03 15:12] #18 closed, assigned to arb

[2014-08-08 18:32] #11 closed, assigned to nobody

[2014-08-13 06:26] SimonDegraeve opened #22 ""Invalid node object type" with Regexp"
Hi,

I use Confidence to build my [webpack](http://webpack.github.io/docs/configuration.html) configuration. So I need to use a Regexp in the "loaders" part of webpack configuration but this is throwing an error.

Any suggestion how I can use Regexp? And why they are forbidden in Confidence?

Thanks

[2014-08-14 14:49] lloydbenson opened #23 "bad control chars when using confidence command line"
When doing a npm install confidence (latest version):

confidence@0.12.1 node_modules/confidence
├── hoek@1.5.2
├── boom@2.5.1 (hoek@2.4.1)
├── optimist@0.6.1 (wordwrap@0.0.2, minimist@0.0.10)
└── alce@1.0.0 (estraverse@1.3.2, esprima@1.0.4)

I took the example in the confidence readme.

$ cat -vt config.json
{
    "key1": "abc",
    "key2": {
        "$filter": "system.env",
        "production":

[2014-08-20 01:42] #13 closed, assigned to nobody

[2014-08-21 13:36] #23 closed, assigned to lloydbenson

[2014-09-22 19:42] arb opened #26 "Clean up Tests"
Clean up tests in accordance with https://github.com/hapijs/discuss/issues/24

[2014-09-29 16:58] #26 closed, assigned to nobody

[2014-10-08 18:06] gergoerdosi opened #29 "RangeError with Handlebars"
I have this configuration:

[code]

Which results in an error:

[code]
It is happening because `Store.validate` tries to inspect the Handlebars module which probably has a self reference. How to handle this issue?

[2014-11-04 16:59] lloydbenson opened #31 "replace yargs with bossy"

[2014-11-20 03:43] #22 closed, assigned to hueniverse

[2014-11-28 22:43] arb opened #33 "Add `-a code`"
Add `-a code` to the Makefile

[2014-12-01 07:13] #33 closed, assigned to nobody

[2014-12-16 05:54] jedireza opened #34 "Attributes containing special characters"
Let's say we have a json document such as:

[code]

I'm getting `undefined` when calling `conf.get('/things/sub-thing')`.

I've tried a handful of escaping attempts. I also quickly scanned the lib but didn't grok anything that seemed relevant to my goal. I also didn't notice any test cases with special characters.

[2015-01-01 02:18] patrickkettner commented on #29
@gergoerdosi I really appreciate your patience, but I just don't think this is something that should be added to confidence.

[2015-01-01 02:18] #29 closed

[2015-01-01 02:43] patrickkettner commented on #34
Hiya @jedireza!

From the readme...

Sorry about that!

[2015-01-01 02:43] #34 closed

[2015-01-01 18:59] jedireza commented on #34
Thanks for the reply @patrickkettner

[2015-02-04 12:33] taddei commented on #22
ho about something like this?

    var store = new Confidence.Store({
        webpack: {
            $filter: 'env',
            production: {
                entry: constants.src.js,
                output:  {
                    path:     constants.dest.js.prod,
                    filename: '[name].js' // Template based on keys in entry above
                },
                module: {

[2015-03-16 17:12] fourq opened #36 "Share keys above $filter"
Is it possible to share keys? I find myself repeating keys that I would normally only write once.

example:

[code]

Here 'log_file' is repeated. It would be nice if I could put it above the $filter and allow it to share with both 'env''s.

example:

[code]

[2015-04-20 15:44] alobodig commented on #36
Property order is not guaranteed in JavaScript, so I don't believe the syntax you suggested is possible.

[2015-04-28 04:33] patrickkettner commented on #36
hey @fourq! Sorry for taking so long to get back to you.

@alobodig is somewhat correct - your syntax is not possible (though we don't iterate over objects, so order has no importance at all to us in this case). The actual issue at hand is that there is nothing stopping `log_file` from being a value for `env`. It therefore creates ambiguity as to what the the results should be. That being said, I

[2015-04-28 13:16] fourq commented on #36
Thanks @alobodig and @patrickkettner

@patrickkettner I just looked over #37 and I think that's a great idea. Looking forward to it!

[2015-04-28 13:16] #36 closed

[2015-08-05 17:59] biant opened #40 "Random ordering occurs when there is a dash '-' in element key names"
We use confidence for processing package.json files, these usually have packages with dashes in the names, e.g. `good-broadcast`
When these files are processed by confidence, the output has element keys reordered in a seemingly random fashion.
just try the following input data:

[code]
This randomization can occur at any level of nesting within the input structure so long as there is a dash in a k

[2015-08-06 01:39] patrickkettner commented on #40
Hi @biant!
Always a pleasure to hear from you

Sooooo, technically your keys are invalid. From the readme

Do you _need_ `-`s or are you just happening to use them?

[2015-08-06 17:01] biant commented on #40
Hi Patrick!  the dashes are beyond my control as they are NPM package names in a package.json file.
We use confidence to select different versions/tags of packages for different environments.
This also occurs in HAPI plugin names in a HAPI configuration file.
The randomization is totally perplexing to me, if dashes were not supported, I would expect confidence to error out or omit the bad key name

[2015-08-06 17:25] Marsup commented on #40
Javascript doesn't guarantee the order of the keys, that's in the specs, you shouldn't rely on that.

[2015-08-06 17:43] devinivy commented on #40
That's true.  This may help with that, @biant: https://www.npmjs.com/package/sorted-object.  I think there's more general question here, though: are hyphens needed for common use-cases of confidence?

[2015-08-06 18:05] kpdecker commented on #40
A few comments:
1. There should be no restriction on key names unless there are technical ones. The `$` prefix being reserved being the primary one that I'm aware of. Unicode folks need love too.
2. Key ordering on enum is a touchy issue prior to ES6. It's not speced but the defacto behavior of engines is that creation order wins in most APIs. Every time you save JSON to a repository you rely on t

[2015-08-07 17:16] biant commented on #40
But alce does maintain the order of keys.
I fully understand the implications of the JSON spec, but that does not help my particular usage.

[2015-08-07 17:16] biant commented on #40
Hi Kevin, I'll give node 12.x a try.

[2015-08-10 19:03] biant commented on #40
works for me! closing this issue

[2015-08-10 19:03] #40 closed

[2015-08-26 15:44] netei opened #42 "Is it possible to add a key to an object depending on a value ?"
I would like to have conditionally add the "blipp" subobject to my "plugins" object with a filter.

Have as a result when `phase=LOCAL`:

    "plugins": {
      "blipp": {
        "showAuth": true
      },
      "other": {
      }
    }

Have as a result when `phase!=LOCAL`:

    "plugins": {
      "other": {
      }
    }

[2015-08-26 16:00] mtharrison commented on #42
I think something like this will work:
[code]

[2015-08-27 04:47] patrickkettner commented on #42
thanks, @mtharrison - that is exactly the way to do this.

lemme know if you have any question, @netei

[2015-08-27 04:47] #42 closed

[2015-08-27 07:31] netei commented on #42
Thanks that works well. I wasn't aware of the "$base" key, or at least didn't thought about it.

[2015-09-08 13:14] netei commented on #42
Is it possible to do the same with arrays ?

Eg

[code]

and have as a result the concatenated arrays ?

[2015-09-08 13:28] netei commented on #42
It seems that it isn't possible with the current implementation to do that. Would you accept a pull request that would allow  for this ?

[2015-09-08 17:06] patrickkettner commented on #42
Almost certainly, but I am not quire sure what you expect the value to be - the arrays being merged?

[2015-09-09 07:31] netei commented on #42
I would expect to get

[code]

[2015-09-09 16:17] patrickkettner commented on #42
yeah, PR for that would be good

[2016-01-01 22:15] jhyland87 opened #49 "Possible way to merge criteria?"
I was wondering if there was a way to provide an array for the criteria to filter for? I know the `$base` and whatever is filtered for via `store.get()` is merged, but can you merge more than just that by providing an array or something like?

Example...

[code]

I realize this is meant for HapiJS, and thats what I use it for mostly, but some of the packages made for HapiJS are pretty useful with

[2016-01-06 21:16] patrickkettner commented on #49
not currently - but it sounds like a great idea for a PR. Would you be interested in making one? Should just be a type check and iteration if isArray()

[2016-01-11 13:18] prashaantt commented on #22
I'm also trying to create a Webpack plugin, and need to pass a Webpack config object to it that uses the `test` RegExp property:

[code]

[code]

Confidence 1.4.2 throws me this error:

[code]

[2016-03-22 17:09] Jiropole opened #50 "TLS cert/key data missing on Store.get(...)"
I'm try to use the following TLS object to configure Hapi connections in my manifest. This pulls in a pair of Uint8Array objects, which I'm guessing is the problem.

[code]

Unfortunately, when I extract the manifest using Store.get(...), the key and cert objects are now empty. Is this a bug, or a caveat I'm not understanding? Is there a suggested workaround? Thanks!

[2016-03-22 17:25] mtharrison commented on #50
Not sure what the deal with converting to arrays is but maybe try sidestepping the issue of having `Buffer` objects in your store at all by specifying encoding when loading your cert/key?

[code]

[2016-03-22 18:50] Jiropole commented on #50
Uh, that's a brilliantly simple workaround! That did the job - thank you.

[2016-03-22 19:33] mtharrison commented on #50
No probs.

[2016-03-22 19:33] #50 closed

[2016-04-19 16:50] kellyrmilligan opened #51 "using in webpack with uglifyjs breaks uglification"
any ideas on this? I like the filtering functionality and was wanting to use it with webpack.

[2016-04-19 16:52] patrickkettner commented on #51
In what way does it break it?

[2016-04-19 17:21] kellyrmilligan commented on #51
well, it does't break the process, but the resulting file is not minified at all. when I take out confidence, its fine. so the app still works,but somehow breaks uglify.

[2016-04-19 18:51] kellyrmilligan commented on #51
I've created a working port of the store that doesn't use hoek or boom, and uses lodash instead for the boom equivalent functions. works like a charm. I feel like client side apps can use this sort of module ,but don't need all of what comes with this currently. I may post it as a module and link back to confidence, is there a proper way to do that?

[2016-04-19 18:52] kellyrmilligan commented on #51
and it solved the minification issue.

[2016-04-19 19:13] patrickkettner commented on #51
If you could post a demo, it would be super helpful.

[2016-04-19 22:59] kellyrmilligan commented on #51
sure, demo for which one?  how it breaks uglify, or the port?

[2016-04-20 08:02] patrickkettner commented on #51
The breakage

[2016-05-05 03:23] tlvenn opened #53 "Why Boom dependency ?"
Hi,

I am using confidence with some Hapi projects but as well with other client side projects (React Native) and I was surprised to see that the project is pulling `Boom` as dependency which makes no sense outside a server context.

Do we really need to encapsulate confidence error with Boom ? Could we make it pluggable and have a default behaviour that would not decorate error with Boom ?

Thank

[2016-05-05 06:50] tlvenn opened #54 "Make confidence isomorphic by leveraging browse crypto if needed"
Right now, the Id lib requires the crypto module, I wonder if we could not do the following so one can use confidence in client side app as well:

[code]

[2016-05-07 05:45] patrickkettner commented on #53
hi there!
its there because just because it was added to begin with when the module was created. I would be very open to having it be an option rather than a hard dep. PRs are welcomed

[2016-05-07 05:46] patrickkettner commented on #54
i'd be open to it, but we would need to add proper browser testing suite in order for it to be comfortable in shipping it.

[2016-05-09 01:00] tlvenn commented on #54
It's unfortunately a bit deeper that I though given Hoek has dependencies on nodejs as well. Also technically speaking the Crypto lib is actually not used by `Confidence.Store` but by the Id lib.

I wanted to use Confidence in a RN app where Crypto is not even available so I did end up forking Confluence, keeping only the store and embedding a lighter version of Hoek. I also converted the tests to

[2016-05-09 13:12] asaf opened #55 "Support for loaders."
Hey,

I'm not sure where this falls, but sometimes configuration needs file references,
Example can be the `tls` object of the connection object,

Does it make sense to make Confidence delegate property resolution by loaders ?

For example a config such:

[code]

And delegate to a file loader to resolve the key property on the final object?

The question is whether this falls in the scope of Confi

[2016-05-11 08:16] patrickkettner commented on #55
thanks for reaching out!
what other loaders do you imagine using?
I would personally lean away having loaders, due to the mental complexity, but am happy to be swayed

[2016-05-13 12:25] asaf commented on #55
@patrickkettner
I agree, I think Confidence should be kept slim as possible,

Please look at my PR #56,
It gives enough flexibility for custom needs (such as described here with TLS) for any value replacement.

[2016-05-19 07:19] patrickkettner commented on #54
Hoek is only used in a handful of lines, which could be replaced with lodash through either a webpack config or some other kind of compile time replacement.

I would be more than happy to review any PR adding this functionality, but I don't have the time to write it myself. As a result, closing this unless someone wants to take it on

[2016-05-19 07:19] #54 closed

[2016-05-19 08:24] patrickkettner commented on #55
hey @asaf - sorry for not being clearer.
The point of my response was asking "what other loaders do you imagine using?". I can see a bit of the utility in this one PR, but I don't think its useful enough to add it without knowing that there are other good dieas for loaders as well.

so, what other loaders do you imagine existing?

[2016-05-25 14:35] asaf commented on #55
Hey @patrickkettner

You were clear enough,
I don't think we should support loaders because it's too complicated,

But having a Hapi server with SSL is a basic requirement and currently there is no way to set TLS ca using Confidence,

This PR solves SSL support using Confidence in a clean and slim way,

Do you have any other alternatives ?

Thanks.

[2016-05-26 19:11] kizzlebot opened #57 "Regex values values become objects"
![image](https://cloud.githubusercontent.com/assets/2028917/15586684/ad6afc5a-2353-11e6-9fd4-7f9f027f589f.png)

The keys for `test` become `{}` instead of remaining regex value.

![image](https://cloud.githubusercontent.com/assets/2028917/15586757/0951fa3c-2354-11e6-8ed3-b809da264f26.png)

[2016-05-28 05:18] patrickkettner commented on #55
I am confused - are you going to close your PR?

I would have the function that outputs your JSON config blob, and within that grab the text of the file as a string

[2016-05-28 13:49] asaf commented on #55
Have you reviewed the PR ? it says nothing about loaders, it just provides a simple and clean hook named `replaceValue` that replaces one value with another, look at the attached test, it leaves enough space without increasing complexity for replacing value.

Isn't it the responsibility of `Confidence` to take a template and produce the final configuration ?

btw, I see how loaders are complicated

[2016-05-28 19:02] mtharrison commented on #55
If your cert/key are pem encoded, you can you not just store them as a string in the store?

[2016-05-29 20:37] Coobaha commented on #57
@kizzlebot as a workaround - wrap it test with function.

[2016-06-01 05:09] patrickkettner commented on #51
ping @kellyrmilligan

[2016-06-01 05:09] #53 closed

[2016-06-01 05:14] patrickkettner commented on #55
@asaf - apologize, I mistook some of the test code for some of the PR.

I am hesitant to add the feature because it has not been needed by a large number of usecases up until this point. Have you tried what @mtharrison mentions?

[2016-06-01 05:29] patrickkettner commented on #57
regex is actually an [invalid type in confidence](https://github.com/hapijs/confidence/blob/master/lib/store.js#L225-L232), so you'll want to wrap it in a function, or store as a string

[2016-06-01 05:29] #57 closed

[2016-06-01 13:06] kellyrmilligan commented on #51
my bad. Closing for now as I won't have time to do demo of it.

[2016-06-01 13:06] #51 closed

[2016-06-15 13:00] joshlasdin commented on #51
@patrickkettner having this issue as well, here's the error it's outputting in my gulp task:

[code]

[2016-06-15 13:05] joshlasdin commented on #51
Though not very helpful, backing off to previous version from NPM (`1.4.2`) seems to be a workaround.

[2016-06-15 13:08] Marsup commented on #51
UglifyJs is kind of abandoned, it won't understand ES6, you have to transpile it first.

[2016-06-15 13:13] joshlasdin commented on #51
@Marsup right, which I am (transpiling).

[2016-06-15 13:13] Marsup commented on #51
In the correct order ?

[2016-06-15 13:28] joshlasdin commented on #51
I believe so -- I'm using webpack, which I'm pretty sure runs code through the loaders first (babel/transpiling), then passes on to plugins (uglify/minifying).

[2016-07-02 08:13] danielbayerlein commented on #22
@patrickkettner I have the same problem as @prashaantt. Any idea?

[2016-07-03 04:43] patrickkettner commented on #22
@danielbayerlein have you tried the [above workaround?](https://github.com/hapijs/confidence/issues/22#issuecomment-52015122)

[2016-07-04 15:40] danielbayerlein commented on #22
@patrickkettner This solution / workaround has many side effects... 😟

[2016-07-06 14:57] danielbayerlein commented on #22
@patrickkettner The workaround does not work well with webpack v2.1.0-beta because the webpack default configuration used RegEx. See https://github.com/webpack/webpack/blob/6b0c20a53ad7b04d4282a8a5c334ea0982fd364c/lib/WebpackOptionsDefaulter.js#L25

[2016-07-08 07:22] danielbayerlein commented on #22
@patrickkettner Can we add a support for RegEx?

[2016-07-08 23:10] danielb2 opened #59 "multiple options for keys, not just values based on filters"
What if I have:

[code]

Right now it's very easy to have values change based on particular filters, however, keys at the same level doesn't seem to have the ability to change. For instance, I may want to have extra debugging plugin loaded for qa. It would be nice to have multiple filters at the same key level.

I don't believe this is possible atm?

( yes I realize in this instance you could argu

[2016-07-08 23:33] #59 closed

[2016-07-08 23:33] danielb2 commented on #59
I believe I can solve this with further nestings which gets a bit hairy

[2016-07-08 23:42] danielb2 commented on #59
The equivalent will look like this:

[code]

[2016-07-08 23:43] danielb2 commented on #59
I think the above is unnecessarily complex. Think there's a better way to solve this?

Basically prod should always load good, qa always load blipp. debug filter turns the appropriate filter on for each one.

[2016-08-21 22:33] samkelleher commented on #51
Are you able to share your port @kellyrmilligan - even if it is rough around the edges?

[2016-08-21 22:38] kellyrmilligan commented on #51
Yes it's on npm as conf-store

[2016-08-21 22:40] kellyrmilligan commented on #51
https://www.npmjs.com/package/conf-store

[2016-08-21 22:43] kellyrmilligan commented on #51
From before I thought maybe it had to do with some of the crypto stuff included with condfidence

[2016-08-21 22:47] samkelleher commented on #51
@kellyrmilligan Nice one cheers! 🎉  Saved me from rolling my own. I like the confidence API format and filter mechanism, but does appear to be incompatible with Webpack Uglify for the time being, and imports a bunch of server-only dependencies.

For reference, I found that the dependency 'hoek' exports a non-es5 'let' statement. Since babel is configured to ignore node_modules by default, it gets

[2016-08-22 00:33] kellyrmilligan commented on #51
For me it didn't fail, it just didn't come out uglified. I use my port with its cli wrapper to do just what you describe. It filters it and produces a Json file that I then import in my app with Json loader

[2016-08-23 10:11] genediazjr opened #61 "node.hasOwnProperty is not a function"
I have used the following code using node v6
[code]
And it returns the error `TypeError: node.hasOwnProperty is not a function`.

I have more complex scenarios that also result with the same error. The root cause is if the object does not have `Object.prototype ` as its prototype.

As what I have found, this seems to be caused by some updates on node https://github.com/nodejs/node/issues/7223.
But

[2016-09-26 19:31] patrickkettner commented on #22
@hueniverse do you recall the original reason for [marking regexp as an invalid type?](https://github.com/hapijs/confidence/commit/11c782b835ac58f9b236a0abfd76e449f14fd182)

[2016-09-26 19:33] patrickkettner commented on #59
sorry for taking so long to get back to you on this.

We are not interested in adding the ability to mutate keys to confidence. This would be best suited to a function that would generate your object, that is then passed to confidence

[2016-09-26 23:10] hueniverse commented on #22
No idea.

[2016-10-07 00:03] #61 closed

[2016-10-11 15:10] Danlock opened #64 "Confidence storing a javascript object"
Im using confidence to store plugins and routes in my manifest.json, but because confidence doesnt allow javascript object to be held (and therefore passed as plugin parameters to a plugin, like 'hapi-sequelize' for example) I cannot store my register object for hapi-sequelize in my manifest.json.

To workaround this issue i registered the hapi-sequelize plugin directly, but I wish to know if ther

[2016-10-14 07:06] patrickkettner commented on #64
hey @danlock!

Not sure I follow what the ask is exactly. Are you wanting to store an instance of a sequalize object? If you could explain specifically which config type of you are trying to use, it would be helpful.

[2016-10-14 13:13] Danlock commented on #64
hapi-sequelize registration needs a sequelize instance, like so
[code]
However confidence throws an error on new sequelize(), when I try to Confidence.store this as my manifest.js to pass into hapijs. It seemed like it is not supported, which is why im asking if there is a way to make it work or if Confidence just doesn't support javascript objects.

[2016-10-17 22:46] patrickkettner commented on #64
hey @danlock!

Confidence _only_ works with javascript objects. What you are wanting is to save an _instance_ of a n object. Those aren't, and won't be, supported. Honestly, it wouldnt really be possible any way. the Sequelize instance could include platform and/or arch dependent information that wouldn't be transferable between systems or versions.

I am going to guess that `/* etc... */` is an o

[2016-10-17 22:46] #64 closed

[2016-11-17 15:53] tlivings commented on #55
You could just use `shortstop`.

[2016-11-28 17:07] federicojasson opened #65 "Support for default criteria"
It would be useful to be able to define a default criteria.

Currently, when one calls ``get`` without a criteria, ``{}`` is used by default. I find myself repeating the same criteria every time I have to get a path:

[code]

If the criteria is more complex, things get more tedious. My workaround is to simply get the root config once and use that everywhere, but that eliminates the advantages of t

[2017-01-04 06:56] TangMonk opened #66 "filter object"
[code]

[code]

how can i get entire object instead 'development'

[2017-01-23 20:45] patrickkettner commented on #65
+1 for the feature idea. If anyone wants to implement before I get a chance to, I'll be happy to review/merge.

[2017-01-24 14:06] federicojasson commented on #65
In order to keep backward compatibility, interfaces could be changed to:

[code]
By default, `defaultCriteria` is `{}`.

[code]
By default, `defaultCriteria` is `{}`.

[code]
By default, `criteria` is `defaultCriteria`.

[code]
By default, `criteria` is `defaultCriteria`.

This way, if `defaultCriteria` is not passed, `{}` will used as the default criteria (as before).

[2017-01-25 21:21] ryanwilliamquinn commented on #65
You could achieve this through partial application too, not sure this is enough of a solution:
[code]

[2017-01-25 22:12] ryanwilliamquinn commented on #66
You need to pass in a criteria object. This should work:

`store.get('/database', { env: 'development' })`

[2017-02-23 18:50] #66 closed

[2017-03-02 15:21] danmo opened #67 "Feature request"
A very useful field would be $override, example:

[code]
if criteria is passed, then field will get it's value, if not it will use the default.

A real case scenario is loading some environment variables and passing them as criterias, if they exist they override the default value.

[2017-05-15 03:22] keyCat opened #68 "Invalid key names and validation"
Hi,

Quoting documentation:

I think this restriction is counterintuitive and severely limits the scope of usage for Confidence while not bringing any clear benefits. In my opinion, there should not be any restrictions on key names, unless it is due to some technical or conceptual limitation.

My example: I want to create a criteria-based configuration for node modules and plugins using their cano

[2017-05-16 20:36] patrickkettner commented on #68
i'd be happy to review any PR that changes that functionality

[2017-05-17 03:59] keyCat commented on #68
@patrickkettner I've taken a closer look at the code and found my statement about Confidence trying to reach nodes using invalid key names to be false.
As for Joi validation, I come to think that it is not relevant to the issue at all.

Please, take a look at PR, when you will have the time. Thanks a lot.

[2017-06-13 18:58] dpmott opened #70 "$base with arrays is merged with (not overridden by) filtered value"
Consider this example code:

[code]

Output:

Expected: b, Actual:  b
Expected: { blah: 'b' }, Actual:  { blah: 'b' }
Expected: [ 'b' ], Actual:  [ 'b' ]
Expected: [ 'b' ], Actual:  [ 'a', 'b' ]
Expected: [ 'b' ], Actual:  [ 'a', 'b' ]

The last two examples don't work as expected.

Note: My current work-around is to move the 'origins' key up a layer, as shown in the third example.

[2017-07-13 14:56] richardzyx commented on #50
Just a quick note that this workaround would only work with key/cert but not with pfx, since the converted string would be too large and node will throw a header too long exception. I haven't found a solution to pfx files, and feel free to share! Thanks!

[2017-07-18 17:52] richardzyx opened #73 "Issue when passing fs.readFileSync buffer"
I was working on getting TLS to work with frame that uses Glue+Manifest+Confidence for configuration management. Having tried both key/cert and pfx pattern and days of debugging, I believe the issue of not having TLS config correctly passed to the underlying node createServer was caused by Confidence when converting the config file.

Although hapi's documentation stated that the tls setting should

[2017-07-25 15:10] jedireza commented on #73
Some related issues:

 - https://github.com/hapijs/confidence/issues/55 - Support for loaders
 - https://github.com/hapijs/confidence/issues/50 - TLS cert/key data missing on Store.get(...)

[2017-07-25 20:10] patrickkettner commented on #70
hey @dpmott!
That is actually the [intended logic](https://github.com/hapijs/confidence/blob/master/lib/store.js#L84). The point is to not have to build repetitive arrays.

[2017-07-25 20:47] dpmott commented on #70
@patrickkettner thanks for the reply & the link to the implementation.  This behavior is definitely not made clear by the docs, nor are there any examples from which this behavior could be inferred.

As you might have guessed from the naming of my config fields, I was trying to put together a list of domains to use with CORS (Cross-Origin-Resource-Sharing).  The unexpected combination of array ite

[2017-07-26 06:06] patrickkettner commented on #70
hey @dpmott
Terribly sorry for the poor documentation on the matter. I am actually curious as to why you were using the $base value at all, as opposed to `$default`. Want to make sure I understand the misunderstanding before I go about trying to properly document it

[2017-07-26 23:20] dpmott commented on #70
Well, I'm using *both* $base and $default.

$base provides the base set of values.  $default provides (fields in addition to, and/or overriding existing, fields in $base) values when no other configuration matches the filter criteria.

So, I expected that if I specified a field in $default, it would *override* the field in $base.  That merging behavior doesn't happen for strings or objects - just

[2017-08-04 04:14] devinivy opened #74 "Allow pulling values from criteria into store"
It would be nice to be able to take values in criteria and use them as parameters for store values.  Here's an example demonstrating how it might look,

[code]

If this sounds like a useful feature I would be happy to write some code for it.  Let me know if you'd like more information about my use-case.

[2017-08-04 04:18] patrickkettner commented on #74
I feel like this sort of logic is something you would do with the result of the store, outside of confidence itself. My reasoning being that it is sort of unbounded in possibilities - truncating strings, array values, etc. I am going to pass on this being a feature now, but anyone else feel free to voice support for it below. If there is enough support I am willing to reconsider.

[2018-02-09 02:48] damusix commented on #22
Any fix for this? still getting it

[2018-04-21 17:34] hueniverse opened #75 "New maintainer?"
Project is not being maintained to hapi.js community standards. Too many open issues and PRs.

[2018-05-15 18:01] nitingautam opened #76 "Manifest TLS options never work"
Hi,

I am trying to use TLS options in manifest connections but it never worked for HTTPS, please guide what is wrong in below code whereas standard server creation works fine

![image](https://user-images.githubusercontent.com/1903388/40074698-f3b3833a-583f-11e8-8b21-d52d9e97e2ce.png)

[2018-05-15 21:46] nitingautam commented on #76
Closing this, working fine now there was one path issue.

[2018-05-15 21:46] #76 closed

[2018-05-31 11:59] csabapalfi opened #77 "Either allow matching "$undefined" or any non-falsy criteria value"
Currently there's no way to only have a $default value if the filtered criteria is undefined.

e.g.
[code]

(`env:` is shortstop syntax to get an env var)

We could also just have `$truthy`,`$falsy`,`$null`, etc but that's probably taking it too far.

An alternative to this is just manipulating criteria before passing it in but we just want to use `process.env` as it is.

I think #67 is about pret

[2018-05-31 21:29] csabapalfi commented on #75
Hey,

We rely on this library and a few of us at HomeAway.com want to maintain this repo.
More specifically: @knifir, @mannypamintuan and me.

How do we go about this?

Thanks,
Csaba

[2018-06-01 00:16] hueniverse commented on #75
Ideally one of you it listed as lead and the others can be co-maintainers. This helps with decision making. The first step should be to reply to some open issues, PRs, etc and show some actual work done.

[2018-10-25 15:31] orditeck commented on #22
I have the same issue.

[code]

[2018-10-26 12:18] orditeck commented on #75
Any update of this? I opened two pull requests, and https://github.com/hapijs/confidence/pull/78 would be really useful. cc @patrickkettner

[2018-11-03 14:44] augnin commented on #75
@hueniverse I would like to maintain this project. for starters, I have taken #79 a little further with a little housekeeping and refactoring in #80.

[2018-11-03 15:37] augnin commented on #65
you can do this by extending the `Store` class

[code]

[2018-11-03 22:00] hueniverse commented on #75
@augnin great. All yours.

[2018-11-03 22:00] #75 closed

[2018-11-09 13:37] augnin opened #81 "Add support for environment variables in filters and values"

[2018-11-09 14:14] devinivy commented on #74
@augnin with #81 and #82 landing, which allows setting values from environment variables, I would like to re-propose this feature, which would allow setting values additionally from criteria.

[2018-11-09 15:20] Nargonath commented on #74
I don't have such use case right now but this feature feels useful. Perhaps we could see to standardize the format with the recent changes @augnin proposed. If you want to use the env as value you'd do: `$env.myEnv` perhaps we could follow the same syntax for your params proposal @devinivy aka:
[code]
or flip it onto its head and use the object notation for @augnin proposal with the environment va

[2018-11-09 16:32] augnin commented on #74
It probably makes sense to use object notation for env, with an additional $coerce operator. something like

[code]

[2018-11-09 16:48] Nargonath commented on #74
Can't we use the same syntax in `$filter`? Allow for string or object so we don't break backward compat.

[2018-11-19 06:59] #81 closed

[2018-11-19 07:01] #74 closed

[2018-11-19 07:32] augnin commented on #73
@jedireza @richardzyx
you can handle this with `$param` directive.

[code]

[2018-11-19 07:32] #73 closed

[2018-11-19 07:34] augnin commented on #55
you can now use `$param` directive

[code]

[2018-11-19 07:34] #55 closed

[2018-11-19 13:19] augnin commented on #77
hey @csabapalfi .. v4.0 handles a lot of this scenarios with `$env` and `$param` directives. have a look at the documentation and test cases. I am closing this for now. feel free to open this issue again, in case you think something is missing.

[2018-11-19 13:19] #77 closed

[2018-12-17 10:05] #68 closed

[2019-04-13 22:33] hueniverse opened #90 "Remove module from hapi.js organization"
This module doesn't really fit in with the purpose of the org. It was added here because it was developed by the same original team as hapi.

@augnin if you are still interested in maintaining it, I can transfer it to your account or another org.

[2019-04-13 23:09] devinivy commented on #90
We might consider incorporating it into the @hapipal org if @augnin is interested.  We use it in our boilerplate, which is essentially our "core."  I will have to consult some others before being able to move forward with that, if there's any interest.

[2019-04-14 05:52] hueniverse commented on #90
Works for me if you guys work it out.

[2019-04-19 13:05] augnin commented on #90
@hueniverse, @devinivy has confirmed that we can move confidence to @hapipal org.

[2019-04-21 20:54] Samueljoli opened #91 "Update hapi core modules to namespaced versions."
Hapi modules have been moved into a `@hapi` namespace on npm. Update package.json to reflect this.

[2019-04-22 08:20] #91 closed

[2019-04-22 08:21] augnin commented on #90
@devinivy - now that confidence has moved to @hapipal, what's your view on License?

[2019-04-22 13:30] devinivy commented on #90
I think that the license should stay as-is for the time being.  In order to change it I believe we would need consent from those who contributed under the current license, and I don't see any major benefit since MIT and BSD are quite similar.

[2019-04-22 13:30] #90 closed

[2019-05-16 18:28] augnin opened #93 "Update deps"
and a little housekeeping

[2019-05-16 18:36] #93 closed

[2020-04-28 19:17] danielb2 opened #96 "Null values when filtering array items"
To reproduce:

1. add to test.json
[code]
2. `confidence -c test.json --filter.env=stage`

Expected result:
[code]

Actual result:
[code]

Note that running `confidence -c test.json --filter.env=local`  works as expected, producing:
[code]
with no null value for the second entry

[2020-05-14 10:58] augnin commented on #70
with #94 merged, guess we can close this issue now

[2020-05-14 10:58] #70 closed

[2020-05-14 13:55] YoannMa opened #97 "$coerce array"
I sometime deal with environment variables storing an array of string that I want to split. I currently do that outside of `confidence`.

I thought of having a way to declare it like :

[code]

Or would it be better to keep this out of Confidence ? As it can introduce some weird edge case like wanting to coerce to an array of number. It could also lead to more feature like parsing JSON, etc...

I

[2020-05-14 14:00] augnin commented on #97
you're most welcome to submit a PR

[2020-05-14 15:17] augnin commented on #97
@YoannMa, and while you are at it, would you mind adding a few more data types? like `boolean` and possibly an `object`?

[2020-05-15 15:23] #97 closed

[2020-09-08 16:12] devinivy opened #99 "Drop support for node v10 and below"
Now that we're all tested on node v14, it's time to look ahead.

As part of this work, we should also update `@hapi/*` dependencies that were stuck on old versions due to our support of old node versions.

[2020-09-08 16:14] devinivy commented on #99
@augnin we're planning on landing this work and then releasing v5.  If you see an issue with that just give a shout and we will adjust! :)

[2020-09-18 05:56] Nargonath commented on #99
I'm working on this issue.

[2020-09-18 17:42] Nargonath commented on #99
I believe there is nothing left blocking the release once the above PR is merged, isn't it?

[2020-09-18 18:00] devinivy commented on #99
That is also as I see it 👍

[2020-09-18 19:44] augnin commented on #31
@devinivy if there's no plan to add object type logic in [bossy](https://github.com/hapijs/bossy) in the near future, should we close this issue? It's been open for a while now

[2020-09-18 20:03] devinivy commented on #31
@augnin Yeah, all good by me!  We can always reopen in the future if there's movement from the bossy side.

[2020-09-18 20:30] #31 closed

[2020-09-18 20:31] #99 closed

[2021-01-24 17:58] devinivy opened #102 "Publish on npm as @hapipal scoped package"
The next major version of all packages in the org will be published under the @hapipal scope on npm. This module will be published as @hapipal/confidence.

[2021-01-24 18:27] devinivy opened #103 "Replace ALCE file format usage in CLI"
The CLI allows users to reference [ALCE-formatted](https://github.com/kpdecker/ALCE) files: essentially a more flexible form of JSON that allows comments.  There are a few downsides to using this format: 1. it is not a widely-known or -used format 2. as such the `alce` library hasn't been touched in 5 years (e.g. to run tests on newer versions of node) and 3. it requires some pretty heavy dependen

[2021-01-24 18:31] devinivy opened #104 "Reorganize documentation for org-wide consistency"
I have been reorganizing documentation over the past few months so that each module is consistent.  That means adding an installation section at the top of the readme, adding an API.md, placing the notice about node support in the usage section of the readme, etc.  See toys' README.md and API.md files as an example: https://github.com/hapipal/toys.

[2021-01-24 18:36] devinivy opened #105 "Move from yargs to bossy"
We use yargs in the CLI primarily because the `filter` CLI argument needs to be a dynamic object.  If https://github.com/hapijs/bossy/pull/77 lands then I believe we will be able to remove yargs from this project and replace it with bossy.  This would be great because it will make this consistent with hpal, hpal-debug, lab, etc.  Given that confidence is part of the boilerplate, this also has the

[2021-01-24 18:39] devinivy commented on #49
It's been a few years and no PRs have come through, so I am going to close this one out.

[2021-01-24 18:39] #49 closed

[2021-01-31 18:24] devinivy opened #106 "Should we remove $env?"
I noticed that `$env` can be modeled equally well using `$param` if the user passes `process.env` in their criteria.  I propose that in v6 we remove `$env` and encourage users to explicitly pass the environment as criteria if that is their intention.  I am in favor of this change because it simplifies the API, and encourages the store to not rely on any implicit/global state.

I just made a small

[2021-01-31 18:32] devinivy opened #107 "Should we remove Confidence.id.generate() and Confidence.id.criteria()?"
Confidence has two undocumented (but public) methods `Confidence.id.generate()` and `Confidence.id.criteria()`.  Their purpose is to generate a guid and then use that guid to generate random criteria that can be used in the context of A/B testing.  For example, `Confidence.id.generate()` could generate a guid to assign to a user's session, and that guid seeds random criteria values to obtain a ran

[2021-02-02 08:16] Nargonath commented on #106
I use `$env` a lot so as long as we don't lose the feature I'm all up for it. Especially if it simplifies the codebase. It doesn't seem to overcomplicate the API. Only downside I see is that `$env` was more explicit to where it gets its values from compared to `$param` if you're not too familiar with confidence API.

[2021-02-03 08:03] Nargonath commented on #107
To be honest I've been neither aware of this feature nor have I needed it as of now. In that regard I don't mind if we remove it but there could be people using it. Let's see if we get other voices on this. I'll post it on Slack too to bring more awareness.

[2021-02-03 09:10] YoannMa commented on #106
We use `$env` as well because it's more explicit, plus we use criteria for other things like sentry/tracing agent that need to be initialized before any other `require()` but are needed in a plugin for biding with server's events, requests, etc

It would not be a deal breaker thought, we could just do :

[code]

Bonus point for still being explicit enough too

[2021-02-04 01:35] damusix commented on #107
Same. Just looked at tests for and I can't see a use case for it in what I do. What was the original intention of this functionality?

[2021-02-04 08:56] Nargonath commented on #106
@YoannMa Good idea I like it that way too, plus as you mentioned it's still explicit.

[2021-02-13 19:39] devinivy commented on #106
If we decide we want to go forward with this, I have a proposal here: https://github.com/hapipal/confidence/pull/110

I thought that removing `$env` left a small gap, so in that proposal I introduced a way to bind criteria to the store, `store.bind()`.  I think it has some nice upsides, but check out the proposal if you're interested and of course feel free to offer any feedback, concerns, questio

[2021-03-09 12:58] ethriel3695 commented on #107
We use both `Confidence.id.generate()` and `Confidence.id.criteria(abId)` for the exact use case you describe above in the issue description

[2021-03-21 01:40] kpdecker commented on #107
When we originally developed the lib, these methods were core to the entire goal of the project, at least for the use case for Walmart Mobile. This was also propagated on the @ethriel3695's org (hi!) but by myself, so they still likely count as one data point :)

There are some examples that do provide very light docs, but they are not in the place you would expect.
https://github.com/hapipal/conf

[2021-03-24 03:12] devinivy commented on #107
I don't see any serious performance or maintenance concerns.  The gains would really just be cleanup at an opportune time, if there was code in the project that was no longer relevant for users.  I had a hunch that could be the case, since it was omitted from the otherwise pretty detailed docs, I couldn't find any mention of it in GitHub correspondences, and when Eran opted to remove confidence fr

[2021-03-24 03:13] #103 closed

[2021-03-24 03:13] #104 closed

[2021-03-24 03:14] #105 closed

[2021-03-27 19:40] devinivy commented on #107
I'll be releasing v6 with `Confidence.id` unchanged, but still leaving this open for further consideration and discussion.  I hope to resolve both this issue and #106 in time for the following release, so we have some time to keep chatting.  Don't want to rush anything :)

[2021-04-03 23:06] ethriel3695 commented on #107
@devinivy
We utilize the functionality proposed for removal for ab testing as @kpdecker (hello back!!!) described and the docs link included is fairly similar to our current setup.

We have upgraded to Confidence v5.0 and plan on upgrading package versions and works very much appreciate this functionality to stay interact with future versions of Confidence 😁

[2021-04-12 03:37] #102 closed

[2021-04-26 12:24] aesher9o1 opened #112 "How to perform logical operations?"
Suppose a value of a key depends on multiple factors. Say a variable isAllowedAcess depends on the user's location and the user's device. Is there a way to design such schema?

[2021-04-27 01:42] devinivy commented on #112
I believe that currently no way to do that: you'd have to push that logic down into the params that you pass to the store.  But in my opinion it would be a useful feature.  Do you have any suggestions for an API to achieve this?

[2021-04-27 01:44] devinivy commented on #107
Cool, in that case I see no reason to shake things up 👍 thanks for showing up and chiming in!

[2021-04-27 01:44] #107 closed

[2021-04-27 01:48] devinivy commented on #106
Worth noting that there was some chatter in hapi hour about this, mostly concerns that removing `$env` would make things less explicit than it currently is, and that some folks like having this feature available to them.  I would love to at least keep its feature set in parity with `$param`, and maintain it as just a special case of `$param`.

[2021-04-28 02:30] aesher9o1 commented on #112
Currently here's how i plan to do it in our organization
[code]

I have created a wrapper that checks if the node you have requested has an _and. This has way too much limitation hence we do not plan to use it actively.

[2021-04-29 06:49] Nargonath commented on #106
I agree. If we were to modify this feature, leveraging `$param` as @YoannMa mentioned above seems to be the best choice IMO.

[2021-05-05 15:53] devinivy commented on #96
Resolved by #113.

[2021-05-05 15:53] #96 closed

[2021-05-05 16:05] devinivy commented on #112
I wonder if one way to speak to this would be to allow the user to provide a function with their logic within the schema.  The function would be passed the params and env, and its result would be injected into the store when `get()` is called.  This is just a rough mockup to illustrate, but perhaps that would look something like this:
[code]

[2021-05-05 16:41] zemccartney opened #114 "Interest in CLI documentation?"
Asking because I wasn't aware there was a CLI for generating a config until I was poking around the codebase recently. Granted, I'm not particularly familiar with the project, my bad if the CLI's not intended to be publicized, but if it'd be at all helpful, I'd be happy to draw up a short subsection in the docs pointing to it.

[2021-05-05 18:33] devinivy commented on #114
Yeah, would totally accept docs on the CLI! 👍

[2021-05-07 13:16] Nargonath commented on #112
I like that suggestion @devinivy. This would serve a broad range of use case without complexifying the API a bunch. If we were to go the logical operators route we'd have to add numerous operators and there will always be people who'd want specific operator but here you can do whatever you want in your function.

[2022-01-29 17:38] devinivy commented on #112
If there are no other proposals, I would take a PR for `$fn` 👍

[2022-02-21 06:00] jlimas opened #115 "Using 0 as default for coerce number returns undefined"
As the title says, using 0 as the $default value for a $coerce number returns undefined.

Example key in store.

[code]

The test case

[code]

![image](https://user-images.githubusercontent.com/368854/154897861-5740a244-b391-47fd-903b-c8edf5bfad40.png)

Using any other value for $default like 1 makes the test pass without problems.

[2022-02-21 09:59] Nargonath commented on #115
This looks like a bug to me

[2022-02-21 17:17] #115 closed

[2022-02-21 17:19] devinivy commented on #115
Fix from #116 published in v6.0.2, thanks again!

[2022-02-21 19:11] Nargonath commented on #115
Thanks for the quick fix @jlimas.